<?xml version="1.0" encoding="utf-8" ?>
    <application xmlns="http://ns.adobe.com/air/application/2.6">

    <id>org.draknek.hearts</id>
    <versionNumber>1.0.5</versionNumber>
    <filename>RoboticHearts</filename>
    <name>RoboticHearts</name>
    <description>Narrative-based puzzle game</description>
    <copyright>Alan Hazelden</copyright>

    <initialWindow>
    <title>These Robotic Hearts of Mine</title>
    <content>hearts.swf</content>
    <systemChrome>standard</systemChrome>
    <transparent>false</transparent>
    <visible>true</visible>
    <minimizable>true</minimizable>
    <autoOrients>false</autoOrients>
    <resizable>false</resizable>
    <renderMode>cpu</renderMode>
    <fullScreen>true</fullScreen>
    <aspectRatio>landscape</aspectRatio>
    </initialWindow>

    <icon>
    <image36x36>thumb36.png</image36x36>
    <image48x48>thumb48.png</image48x48>
    <image72x72>thumb72.png</image72x72>
    </icon>

    <supportedProfiles>mobileDevice desktop</supportedProfiles>
    
    <android>
    <manifestAdditions>
    <![CDATA[
    <manifest android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET"/>
    <supports-screens android:smallScreens="true"/>
    <supports-screens android:normalScreens="true"/>
    <supports-screens android:largeScreens="true"/>
    <supports-screens android:xlargeScreens="true"/>
    <!--<uses-feature android:required="true" android:name="android.hardware.faketouch"  />-->
    <application android:enabled="true">
    <activity android:excludeFromRecents="false">
    <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
    </activity>
    </application>
    </manifest>
    ]]>
    </manifestAdditions>
    </android>
    
</application>
